body {
    background-image: url("coffee.png");
    background-size: cover;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    height: 100vh;
    
}

#coffee {
    background-color: rgb(133,70,30);opacity:0.9;
    border: 2px solid black;
    border-radius: 25px;
    margin: auto;
    margin-top: 150px;
    max-width: 80%;
    
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: maroon;
}

#save-btn {
    background: gray;
}

